.about{
    background-color: #1ABC9C;
    padding-top: 280px;
    padding-bottom: 280px;
    color: white;
}


.head {
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: bold;
    color: #fff;
}

.stars{
    margin-top: 35px;
    margin-bottom: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.linee{
    width: 100px;
    height: 4.5px;
    background-color: #fff;
    margin-right: 10px;
}
.linee2{
    width: 100px;
    height: 4.5px;
    background-color: #fff;
    margin-left: 10px;
}