.footer{
    background-color: #1A252F;
    color: white;
    text-align: center;
    padding: 30px;
    margin: 0;
}

.icons{
    margin-top: 20px;
    text-align: center;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
} 

.icons i {
    padding-top: 11px;
    border: 1px white solid;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.footer-content{
    text-align: center;
    padding: 70px;
    background-color: #2C3E50;
    color: white;
    margin: 0;
}
